<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIY Fraai</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"><img src="images/Schermafbeelding 2023-12-16 201941.png" width="125px">
                    </a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/categorieen">Alle categorieën</a></li>
                        <li><a href="/decoratie">decoratie</a></li>
                        <li><a href="/meubels">meubels</a></li>
                        <li><a href="/dieren">dieren</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>
                <a href="/favorieten"><img src="images/pngwing.com (91).png" width="30px" height="30px"></a>
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">

            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Do It Yourself Projects <br>Inspirational DIY </h1>
                    <p>Maak van oud weer nieuw, recyclen of upcyclen. Waar je ook aan denkt, denk ook aan morgen. Ondek
                        onze duurzame projecten om zelf te maken!</p>
                    <a href="/categorieen" class="btn">Ondek Nu &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="images/pngwing.com (92).png">
                </div>
            </div>
        </div>
    </div>

    <div class="small-container">

        <div class="row row-2">
            <h2>DIY's</h2>
            <select>
                <option>Sorteren</option>
                <option>moeilijkheid</option>
                <option>kosten < </option>
                <option>duurtijd</option>
            </select>


        </div>
        <% for (let i=0; i < projects.length; i +=4) { %>
            <div class="row">
                <% for (let j=i; j < i + 4 && j < projects.length; j++) { %>
                    <div class="col-4">
                        <a href="/DIY-details/<%= projects[j]._id %>"> <img src="images/<%= projects[j].img %>">
                            <h4>
                                <%= projects[j].title %>
                            </h4>
                        </a>
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="favourite" id="favouriteBtn-<%= projects[j]._id %>"
                                onclick="handleLikeButtonClick('<%= projects[j]._id %>')">
                                <i class="fa fa-heart-o"></i>
                            </div>
                        </div>
                        <p>
                            <%= projects[j].category %>
                        </p>
                    </div>
                    <% } %>
            </div>
            <% } %>
                <!-- <div class="row">
            <div class="col-4">
                <a href="/DIY-details"> <img src="images/kerststal.jpg">
                    <h4>Kerststal</h4>
                </a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>decoratie </p>
            </div>
            <div class="col-4">
                <img src="images/barkruk.jpg">
                <h4>Barkruk</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>meubels</p>
            </div>
            <div class="col-4">
                <img src="images/bewaardozen.jpg">
                <h4>Bewaardozen</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>decoratie</p>
            </div>
            <div class="col-4">
                <img src="images/boekplank.jpg">
                <h4>Boekplank</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>meubels</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <img src="images/broddtrommel.jpg">
                <h4>Broodtrommel</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>decoratie</p>
            </div>
            <div class="col-4">
                <img src="images/egelhuis.jpg">
                <h4>Egelhuis</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>dieren</p>
            </div>
            <div class="col-4">
                <img src="images/juwelendoos.jpg">
                <h4>Juwelendoos</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>decoratie</p>
            </div>
            <div class="col-4">
                <img src="images/kerstboomvariant.jpg">
                <h4>Kerstboomvariant</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>decoratie</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="images/kerstkrans.jpg">
                <h4>Kerstkrans</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>decoratie</p>
            </div>
            <div class="col-4">
                <img src="images/kledingroede.jpg">
                <h4>Kledingroede</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>decoratie</p>
            </div>
            <div class="col-4">
                <img src="images/koffiehouder.jpg">
                <h4>Koffiehouder</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>decoratie</p>
            </div>
            <div class="col-4">
                <img src="images/konijnenhok.jpg">
                <h4>Konijnenhok</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>dieren</p>
            </div>
        </div> -->
                <div class="page-btn">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>&#8594;</span>


                </div>
    </div>



    <!---------------footer------>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>download app for android and ios mobile phone</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="images/logo.png">
                    <p>Our Purpose Is To Sustainably Make the pleasure and benefits of upcycling accessible to the
                        many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"> Copyright 2023 - DIY Fraai industries</p>
        </div>
    </div>


    <!---------Js for toggle menu--------->
    <script>

        const token = localStorage.getItem('token');

        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px";
            }
        }


        async function handleLikeButtonClick(projectId) {

            try {
                // Fetch user data
                const userResponse = await fetch('http://localhost:3000/api/users/me', {
                    headers: {
                        'Authorization': `Bearer ${token}`,
                    },
                });

                if (!userResponse.ok) {
                    throw new Error('Failed to fetch user data');
                }

                const userData = await userResponse.json();

                // Check if projectId is in favoriteProjects
                const isFavorite = userData.favoriteProjects.includes(projectId);

                // Perform the appropriate action (add or remove)
                if (isFavorite) {
                    // Remove from favorites
                    const removeResponse = await fetch(`http://localhost:3000/api/projects/remove-from-favorites/${projectId}`, {
                        method: 'POST',
                        headers: {
                            'Authorization': `Bearer ${token}`,
                        },
                    });

                    if (!removeResponse.ok) {
                        throw new Error('Failed to remove from favorites');
                    }
                } else {
                    // Add to favorites
                    const addResponse = await fetch(`http://localhost:3000/api/projects/add-to-favorites/${projectId}`, {
                        method: 'POST',
                        headers: {
                            'Authorization': `Bearer ${token}`,
                        },
                    });

                    if (!addResponse.ok) {
                        throw new Error('Failed to add to favorites');
                    }
                }

                // Update the button text and href after successfully adding to or removing from favorites
                const favouriteBtn = document.getElementById(`favouriteBtn-${projectId}`);
                favouriteBtn.innerHTML = !isFavorite ? `<i class="fa fa-heart"></i>` : `<i class="fa fa-heart-o"></i>`;
            } catch (error) {
                console.error(error);
            }
        }


        async function checkFavourites() {
            try {
                // Fetch user data
                const userResponse = await fetch('http://localhost:3000/api/users/me', {
                    headers: {
                        'Authorization': `Bearer ${token}`,
                    },
                });

                if (!userResponse.ok) {
                    throw new Error('Failed to fetch user data');
                }

                const userData = await userResponse.json();

                // Check if projectId is in favoriteProjects
                const favourites =userData.favoriteProjects;

                for(const item of favourites){
                    const favouriteBtn = document.getElementById(`favouriteBtn-${item}`);
                    favouriteBtn.innerHTML = `<i class="fa fa-heart"></i>`
                }



            } catch (error) {
                console.log(error)
            }
        }
        checkFavourites()


    </script>
</body>

</html>